*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    outline:0;
}
.navbar{
    
    display:flex;
    background-color: black;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top:0%;
    padding:1.5rem 3px;
    border: 0;
    outline: 0;
    align-items: center;
    padding-top: 3%;
    z-index: 100;
}
ul{
    display: flex;
    gap: 3rem;
}
.navbar li{
    display: flex;
    list-style-type: none;
    font-size: 20px;
}
a{

    text-decoration: none;
    color: darkgray;
}
a:hover{
    transform:translateX(20%);
    transition: 0.5s ease;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 10px white;
    color:coral;
}
body{
    background: color-mix(in srgb, rgb(0, 0, 0) 98%,blue 2%);
}
.portfolio{
    color: rgb(255, 81, 0);
    padding-left: 4rem;
}
.portfolio:hover{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    transition: 0.7 ease;

}
h1:hover{
    font-weight: bolder;
}
.login-container{
    
    width: 100%;
    height: 100vh;
}
.btn{
    background-color: rgb(255, 94, 0);
    border-radius: 10%;
    border:0;
    outline: 0;
    align-items: center;
    text-align: center;
    margin-right: 80px;
    width: 7rem;
    height: 3rem;
    color: aliceblue;
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
.profile{
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: darkgray;
    padding-top:15rem;
    padding-left:5rem;
    font-size: 3rem;
}
.word{
    display: flex;
    flex-direction: column;
}
.job{
    padding-left: -10%;
    padding-top: 1rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transform:translateX(0%);

}
.job:hover {
    transform:translateX(12%);
    transition: 0.5s ease-in;
    font-style:oblique;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: tomato;
}
.btn:hover{
    background-color: green;
}
.circle{
    display: flex;
    border-radius: 50%;
    width:500px;
    background: radial-gradient(circle, rgb(195, 36, 36) 20%, rgb(255, 0, 0) 40%, rgb(0, 0, 0) 60%, rgb(255, 0, 0) 80%, rgb(212, 71, 71) 100%);
    height: 500px;
    margin-left: 7rem;
    margin-top: -4rem;
    justify-content: center;
    align-items: center;
}
.ima {
    width: 70%;
    border-radius: 50%;
    transform: rotate(20deg);
    justify-content: center;
    border: 20px solid orange;
    transition: border-color 0.5s;
}

.ima:hover {
    border-color: rgba(255, 0, 0, 0.5);
    transform: rotate(20deg) scale(1.1); 
}

.contact{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    gap:2rem;
    
}
.con-btn{
    background-color: orangered;
    width:10% ;
    border-radius: 10%;
    height:3rem;
    padding: 3px;
    color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-stretch: expanded;
    font-weight: bolder;
    
} 
.res-btn{
    
    border:4px solid darkgrey;
    background-color: black;
    border-radius: 5%;
    height:3rem;
    padding: 2px;
    width:30%;
    color:white;
   
}
.res-btn:hover{
    background-color: orangered;
}
.con-btn:hover{
    background-color: darkgray;
}
.social{
    display: flex;
    background-color: black;
    margin-top: 5rem;
    width:40%;
    height:11vh;
    padding: 10px;
    padding:2rem;
    align-items: center;
    justify-items: center;
    border:4px solid darkgrey;
    border-radius: 1rem;
    border-style: double;
}
.insta-logo{
    margin-top: 5%;
    width:20%;
    border:darkgrey solid 3px;
    border-radius: 10%;
    padding: 4px;
}
.box{
    display: flex;
    background-color: rgb(35, 35, 37);
    width:70%;
    height:17vh;
    padding: 1rem;
    margin-bottom: 5rem;
    border-radius: 3%;
    justify-content: space-between;
}
.exp{
    color:orangered;
}
.exp-name{
    color: white;
    font-size: 30px;
}
.service{
    display:flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;

}
.ser{
    color: aliceblue;
    font-family:'Courier New', Courier, monospace;
}
.ser:hover{
    color: orangered;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    transform: scale(1.1);
    transition: 0.5s ease;
}
.skills{
    display:flex;
    justify-content: space-between;
    height:40vh;
    width:70%;
    
    padding: 2rem;
}
.profession{
    display:flex;
    flex-direction: column;
    width:30%;
    height:30vh;
    background-color: rgb(46, 41, 41);
    border-radius: 20%;
    align-items: center;
    padding-top: 2rem;
    padding: 1rem;
    animation:slidein 1s forwards;

    
}
@keyframes slidein {
     from{
        opacity:0;
        transform: translateX(-100%);
     }
     to{
        opacity: 1;
        transform: translateX(0%);

     }
    
}
.pro-skill{
    color:orangered;
    font-family: 'Arial Narrow';
    
}
.pro-skill:hover{
    color:rgb(255, 0, 0);
    font-weight:600;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    transition: 0.5 ease-in;
}
.pro-desc{
    margin-top: 1rem;
    color:azure;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    letter-spacing: 2px;
}
.project{
    display: flex;
    height:30vh;
    width:70%;
    background-color:black;
    justify-content: center;
}
.project-title{
    color:aliceblue;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.project-title:hover{
    color: orangered;
    transform: scale(1.2);
    transition: 0.5s ease;
    -ms-zoom-animation: unset;
}
.pro-logo{
    width:10%;

}
.footer{
    display:flex;
    flex-direction: column;
    margin: 0;
    border:0;
    outline:0;
    width:100%;

    background-color: darkgrey;
    height:45vh;
}